version: '3.8'

services:

  back-end:
    build: ./back-end
    ports:
      - 4000:4000
    volumes:
      - ./back-end/src:/app/src
    depends_on:
      - database
    environment:
      DATABASE_URL: postgres://postgres:password@database:5432/postgres

  web-app:
    build: ./web-app
    ports:
      - 3000:3000
    volumes:
      - ./web-app/src:/app/src  
    depends_on:
      - back-end

  database:
    image: postgres:14.5-alpine
    environment:
      POSTGRES_PASSWORD: password
    expose:
      - 5432

    
    
